extends layout

include mixins/_storeCard
include mixins/_siteStats

block content
    section.introduction(style=`background-image:url(/uploads/${('store.png')})`)
        div.bg-cover
            .inner
                != h.icon('logo')
                p NourishHunt surfaces the best new locations, every day. It's a place for food and drink-loving enthusiasts to share and engage with others on their favorite places to go.
                br
                +siteStats(storesNum, usersNum, reviewsNum)

    .inner
        section
            h2 Recently Hunted Locales
            .stores
                each store in stores
                    +storeCard(store)