extends layout

block content
    .inner
        form.form(action="/register" method="POST")
            h2 Register

            label(for="name") Your Invite Key 
                small Please email me to request an invite key. Registration is restricted for the purposes of this being just a demo.
            input(type="text" name="key")

            label(for="name") Name
            input(type="text" name="name")

            label(for="profile") Profile
            textarea(type="text" name="profile")

            label(for="social_facebook") Facebook Profile URL
            input(type="url" name="social_facebook")

            label(for="social_twitter") Twitter Feed URL
            input(type="url" name="social_twitter")

            label(for="social_instagram") Instagram Feed URL
            input(type="url" name="social_instagram")

            label(for="email") Email Address
            input(type="email" name="email")

            label(for="passowrd") Password
            input(type="password" name="password")

            label(for="passowrd-confirm") Confirm Password
            input(type="password" name="password-confirm")

            input.button(type="submit" value="Register ->")