extends layout

include mixins/_userCard
include mixins/_userPagination

block content
    .inner
        div.inner  
        h2= title

        div.page_heading(style=`background-image:url('/images/photos/users.jpg')`)
        
        +userPagination(page, pages, count)  
        
        .users
            each user in users
                +userCard(user)

        +userPagination(page, pages, count)     