extends layout

include mixins/_userCard
include mixins/_userPagination

block content
    .inner
        div.inner  
        h2= title
        
        +userPagination(page, pages, count)  
        
        .users
            each user in users
                +userCard(user)

        +userPagination(page, pages, count)     