mixin adminNav()
    nav.admin__navigation
        a(href='/admin/invite-requests') Invite Requests
        a(href='/admin/generate-invite-key') Generate New Invite
        a(href='/admin/manage-invites') Manage Invites
        a(href='/admin/manage-stores') Manage Stores
        a(href='/admin/manage-users') Manage Users
        a(href='/admin/manage-reviews') Manage Reviews