input, textarea {
  width:100%;
  padding:10px;
  border: 2px solid $grey;
  &.input {
    &--error {
      border-color: red;
    }
  }
}

input[type=text], input[type=file], 
input[type=email], input[type=password],
textarea {
  margin:-5px auto 20px auto;
  border-radius:3px;
  transition:0.15s;
}

input[type=email]
input[type=password]

input[type=text]:active,
input[type=text]:focus, 
input[type=file]:active,
input[type=file]:focus,
input[type=email]:active,
input[type=email]:focus,
input[type=password]:active,
input[type=password]:focus,
textarea:active,
textarea:focus {
  outline:none;
  border: 2px solid $yellow;
}

input[disabled=disabled] {
  background-color:$grey;
}

input[type=file]:hover, .tag label:hover {
  cursor:pointer;
}

textarea {
  resize: none;
  height:250px;
}

label {
  padding: 10px 0;
  display: block;
  font-family:'AlrightSans-Medium';
}

form.form label, form.card label {
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:0.8em;
}

.tag label {
  text-transform:capitalize !important;
  letter-spacing:initial !important;
}

.form {
  background: white;
  padding: 2rem;
  box-shadow: $grad;
  & + .form {
    margin-top: 4rem;
  }
  // I know this isn't bem but meh
  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }
}


form.reviewer {
  margin-top:50px;
}