html {
  font-size: 10px;
}

body {
  background: $purple;
  background:#efefef;
  &:before {
    content: '';
    display: block;
    background: $grad;
    height: 10px;
    width: 100%;
  }
}

.inner {
  max-width:1000px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 4rem 2rem;
  }
}

section.introduction {
  background-position:center center;
  background-size:cover;
  background-attachment: fixed;
}

section.introduction p {
  color:#FFF;
}

section.introduction div.bg-cover {
  width:100%;
  height:100%;
  padding:100px 25px;
  background-color:rgba(0,0,0,0.75);
}

.stats__table {
  width:100%;
  color:#FFF;
  border:1px solid rgba(255,255,255,0.25);
  padding:5px;
}

.stats__table tr th svg {
  margin:10px auto;
}

.stats__table tr th,
.stats__table tr td {
  padding:10px;
  border:1px solid rgba(255,255,255,0.25);
}

.stats__table tr td {
  padding:20px;
  padding-bottom:40px;
}

.footer {
  max-width:1000px;
  margin:auto;
  margin-top:50px;
  padding:25px;
}


.error_page {
  height:100vh;
  max-width:100vw;
  max-height:100vh;
  overflow:hidden;
  background-size:cover;
  background-position:center;
  box-sizing:border-box;
}

.inner.error_page {
  padding:0 !important;
}

.error_page .bg_cover {
  height:100%;
  overflow:hidden;
  background-color:rgba(0,0,0,0.75);
  display:flex;
  flex-direction:column;
  text-align:center;
}

.error_page .bg_cover > * {
  color:#FFF;
}

.error_page .bg_cover div {
  margin-top:25px;
}

.error_page .bg_cover div h1 {
  font-size:20rem;
  transform:rotate(25deg);
  background: $verticalGrad;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip:text;
}

.error_page .bg_cover div a {
  color:#FFF;
  text-decoration:none;
  padding:10px 35px;
  border:1px solid #FFF;
  border-radius: 3px;
  transition:0.3s;
}

.error_page .bg_cover div a:hover {
  opacity:0.8;
}