html {
  font-size: 10px;
}

body {
  background: $purple;
  background:#efefef;
  &:before {
    content: '';
    display: block;
    background: $grad;
    height: 10px;
    width: 100%;
  }
}

.inner {
  max-width:1000px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 4rem 2rem;
  }
}

section.introduction {
  background-position:center center;
  background-size:cover;
  background-attachment: fixed;
}

section.introduction p {
  color:#FFF;
}

section.introduction div.bg-cover {
  width:100%;
  height:100%;
  padding:100px 25px;
  background-color:rgba(0,0,0,0.75);
}

.stats__table {
  width:100%;
  color:#FFF;
  border:1px solid rgba(255,255,255,0.25);
  padding:5px;
}

.stats__table tr th svg {
  margin:10px auto;
}

.stats__table tr th,
.stats__table tr td {
  padding:10px;
  border:1px solid rgba(255,255,255,0.25);
}

.stats__table tr td {
  padding:20px;
  padding-bottom:40px;
}

.footer {
  max-width:1000px;
  margin:auto;
  margin-top:50px;
  padding:25px;
}